<br />


<div class="booyah-box col-10 offset-1">
  <h1>Meet the Linguist</h1>

  <p>
    Ciara Anderson is a linguist ans certified ESL instructor. She has spent many years in the classroom with ESL students from all around the globe and loved sharing her knowledge of the English language with others!
  </p>
</div>